<H1>Todos from db</H1>
<p>
    <%= link_to "Create new todo", new_todo_path %>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% @todos.each do |todo| %>
        <tr>
            <td><%= link_to todo.name, todo_path(todo) %></td>
            <td><%= todo.description %></td>
             <!--#in rails routes path is /todos/:id/edit it needs the id-->
            <td><%= link_to "Edit", edit_todo_path(todo) %></td>
            <td><%= link_to 'Delete', todo_path(todo), method: :delete, 
                                 data: { confirm: "Are you sure?"} %></td>
        </tr>
    <% end %>
</table>
<% %>